<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <hmain>Marina LaForgia</hmain>
                <p>plant communities, functional traits, species invasions, climate change</p>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

	<!--<script>
		/*$(window).load(function() {
		  $("body").removeClass("preload");
		});*/
		$body.addClass('is-loading');
			
		$window.on('load', function() {
			$body.removeClass('is-loading');
		});
		
	</script>-->
    </body>

</html>

